# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled java class
*.java

# Compressed data
*.rar

# and...Compiled main.cpp
^main$
